.Contact{
  padding-top: 1em;
  background-color: #252934;
  /* display: grid; */
}
.contact-title{
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 2.5em;
  display: grid;
  margin-top: 3em;
}

.contact-title::after {
  content: '';
  height: 0.14em;
  width: 3em;
  background-color: white;
  display: block;
  justify-self: center;
  margin-top: 0.5em;
}
.p-centered{
  text-align: center;
  color: #04c2c9;
  margin: 2em auto;
  font-size: 1.1em;
}
.modal{
  display: flex;
  justify-content: center;
  background-color: #252934;
  margin-bottom: 3em;
}
form{
  width: 35%;
}

input{
  background-color: #1e242c;
  width: 100%;
  border:0;
  padding: 0.8em;
  margin: 0.1em ;
  font-size: 1.0em;
   color: white;
}
input:last-child {
  background-color: transparent;
  padding: 1em 1.6em;
  padding-left: 1.6em;
  border: 0.1rem solid white;
  font-size: 1em;
  display: block;
  transition: all 0.5s;
 
  font-family: sans-serif;
  width: auto;
  float: right;
  margin-right: 0;
}

input:last-child:hover {
  background-color: #04c2c9;
}
textarea{
  
  background-color: #1e242c;
  width: 100%;
  border:0;
  padding: 0.8em;
  margin: 0.2em;
  font-size: 1.2em;
   color: white;
}
.footer{
  background-color: #1b242f;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 5em auto;
}
.center-top-link{
  justify-self: center;
  
}
.top-link{
    background-color: #e31b6d;
    color: white;
    transform: rotate(-90deg);
    text-align: center;
    display: flex;
    font-size: 2em;
    font-family: cursive;
    width: 1.2em;
    margin-top: -0.7em;
    justify-content: center;
    padding: 0.1em;
}
.top-link::before{
  content:'>>';  
  align-self: center;
}
.contact-links {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4,minmax(auto,6em));
  grid-template-rows: minmax(auto,6em);
  grid-gap: minmax(auto,3em);
  justify-items: center;
  align-items: center;
}
.contact-links>div>a{
  color: white;
  font-size: 3rem;
}
@media (max-width:800px) {
  form {
    width: 80%;
  }
}
@media (max-width:600px) {
  form {
    width: 90%;
  }
}