
.contact-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.p-centered{
  text-align: center;
  color: var(--light);
  margin: 2em auto;
  font-size: 1.1em;
}
.modal{
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
form{
  width: 45%;
}

input{
  background-color: white;
  width: 100%;
  border:0;
  padding: 0.8em;
  margin: 0.1em ;
  font-size: 1.0em;
   color: black;
}
input:last-child {
  background-color: var(--primary);
  padding: 1em 1.6em ;
  padding-left: 1.6em;
  border: 0.1rem solid white;
  font-size: 1em;
  display: block;
  transition: all 0.5s;
 
  font-family: sans-serif;
  width: auto;
  float: right;
  margin-right: 0;
}

input:last-child:hover {
  background-color: #04c2c9;
}
textarea{
  
  background-color: white;
  width: 100%;
  border:0;
  padding: 0.8em;
  margin: 0.2em;
  font-size: 1.2em;
   color: black;
}

input,textarea{
  box-shadow: 0 0 3px var(--light);
  border-radius: 0.3rem;
}




@media (max-width:800px) {
  form {
    width: 80%;
  }
}
@media (max-width:600px) {
  form {
    width: 90%;
  }
}