.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.ball{
  display: inline-block;
  height:1rem;
  width:1rem;
  border-radius: 50%;
  background-color: red;
  margin: 1rem;
  animation: spin 5s  ;
  animation-iteration-count: infinite;
}
@keyframes spin{
  0%{
    transform: translate(50px,30px)
  }
  30%{
    transform: translate(600px,250px)
  }
  60%{
    transform: translate(0px,600px)
  }
  80%{
    transform: translate(-200px,300px)
  }
  100%{
    transform: translate(50px,30px)

  }
}